body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    margin-bottom: 10px;
}

h2, form{
    margin-left: 15px;
}

form ~ p{
    margin-left: 15px;
}

p a{
    margin-left: 5px;
    text-decoration: none;
    color: black;
}

input[type="submit"]{
    margin-top: 10px;
    width: 100px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 4px;
}

